.page-home {
    h1 {
        color: red;
    }

    .green-skew {
        height: 400px;
        @include skew-me(3deg);
        margin: 100px 0;
    }

    .red-skew {
        height: 400px;
        @include skew-me(-3deg, red);
        margin: 100px 0;
    }
}